.about-text {
    padding-top: 35px;
    padding-bottom: 30px;
}
.thumb {
    height: 200px;
}
.modal {
    margin-top: 150px;
}
.open-modal {
    width: 800px;
}
.section-header {
    text-align: left !important;
    letter-spacing: 8px;
    padding-left: 20px;
    color: white;
    border: 1px solid black;
    margin-bottom: 30px;
    background: #3F3E3C;
}
.image-collection {
    margin-bottom: 85px;
}