.exp-container {
    border-radius: 5px;
    /* padding-top: 30px; */
    margin-bottom: 60px;
    /* border: 1px solid black; */
    /* background: #DDD9D4; */
    color: black;
}
.exp-icon {
    position: absolute;
    margin-top: -8px;
	height: 70px;
	width: 70px;
    margin-bottom: 20px;
    padding: 10px;
}
.exp-company {
    text-align: left;
    font-size: 28px;
    padding-left: 85px;
	font-variant: small-caps;
    margin-bottom: 20px;
    color: #af473c;
    font-weight: bold;
}
.exp-location {
	position: absolute;
	font-size: 20px;
	font-variant: small-caps;
    right: 45px;
    margin-top: -55px;
}
.exp-position {
    text-align: left;
    padding-left: 90px;
	font-size: 16px;
	font-weight: 700;
}
.exp-dates {
	position: absolute;
	font-size: 16px;
    right: 45px;
    margin-top: -31px;
}
.exp-content {
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    padding-left: 90px;
    /* padding-bottom: 10px; */
    text-align: justify;
}