.skill {
    margin-bottom: 60px;
}
/* .expanded-false {
    display: none;
} */
.box {
    position: absolute;
    border: 5px solid black;
    height:50px;
    width: 50px;
}
.the-main-container {
    position: relative;
    top: 75px;
    overflow: hidden;
}
.inner-container {
    padding: 25px 35px;
}
.category-main {
    margin: 0px 3px;
    height:700px;
    background: #af473c;
    color: white;
    border-radius: 10px;
}
.education {
    background-image: url(../../images/photos/category-edu.jpg);
    background-size: cover;
    background-position: center;
}
.category-main > h2 {
    font-size: 24px;
}
.category-main.collapsed {
    background: #af473c;
    width: 60px;
    min-width: 60px;
}
.category-main-selected {
    margin: 3px 5px;;
    border-radius: 10px;
    cursor: default !important;
    pointer-events: none;
}
.collapsed > h2 {
    width: 1em;
    font-size: 40px;
    letter-spacing: 40px;
    line-height: 40px;
    padding-left: 5px;
}
.hidden {
    display: none;
}
.shown {
    display: block;
}


/* 
Red - #9E4443, #9E453D (current), #984843
Charcoal - #3E3E3E, #3C413D, #3F3E3C (current), #40403A, #423C38
White - #D4E2D0, #CEE1CD, #DDD9D4 (current)
 */