.header-frame {
    height: 170px;
    background: #3F3E3C;
    color: #DDD9D4;
}

/* .header-img {
    height: 170px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -99;
} */

.page-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -70px;
    text-: #DDD9D4;
}

.page-links a {
    color: #DDD9D4;
    font-size: 20px;
}

.me {
    font-size: 80px;
}

/* 
Red - #9E4443, #9E453D (current), #984843
Charcoal - #3E3E3E, #3C413D, #3F3E3C (current), #40403A, #423C38
White - #D4E2D0, #CEE1CD, #DDD9D4 (current)
 */
