/* .post-layout-container {
    padding-top: 100px;
}
.post-main-image-container {
}
.post-main-image {
    display: block;
    margin: auto;
    height: 550px;
    width: 900px;
}
.post-title-data {
    text-align: center;
    padding: 30px;
}
.post-text {
    padding-top: 80px;
} */