.App {
	/* text-align: center; */
}
body {
	padding-top: 120px;
}
.main-nav {
	position: fixed;
	text-align: center;
	height: 255px;
	width: 100%;
	left: -9999px;
	right: -9999px;
	margin: auto;
	top: 0;
	padding: 5px 16px;
	z-index: 10000;
    overflow: hidden;
}
.page-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: -70px;
}
.page-links a {
	color: white;
	font-size: 20px;
}
