.App {
	/* text-align: center; */
}
body {
	padding-top: 120px;
}
.main-nav {
	text-align: center;
	height: 200px;
	width: 100%;
	left: -9999px;
	right: -9999px;
	margin: auto;
	position: fixed;
	top: 0;
	border-bottom: 1px solid black;
	padding: 5px 16px;
	background-color: orange;
	transition: all 300ms ease-in-out;
	z-index: 10000;
}
.small {
	height: 80px;
	text-align: left;
	/* transition: left 1s ease; */
}
.page-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: -70px;
}
.page-links a {
	color: white;
	font-size: 20px;
}
.me {
	font-size: 80px;
	transition: all 300ms ease-in-out;
}
.small .page-links a {
	font-size: 20px;
}
.small .me {
	font-size: 20px;
	/* left: 50; */
}

/* .main-nav img {
height: 100%;
width: auto;
} */
